# Redis configuration
REDIS_REMOTE_HOST=your-redis-host
REDIS_REMOTE_DB_PORT=your-redis-port
REDIS_REMOTE_PASSWORD=your-redis-password

# API rate limiting
API_MAX_REQUESTS=10
API_TIME_FRAME=60

# Domain configuration
DOMAIN=your-domain

# LeetCode authentication tokens
LEETCODE_CSRFTOKEN=your-leetcode-csrftoken
LEETCODE_SESSION=your-leetcode-session-token
LEETCODE_CF_CLEARANCE=your-leetcode-cf-clearance-token
